.writeHeader {
    display: flex;
}

.greetingMsg {
    display: flex;
    align-self: flex-start;
}

.headerBtn {
    display: flex;
    align-self: flex-end;
    justify-items: flex-end;
    /* align-content: flex-end; */
}

.fullWidth { width: 100%; }

.uploadImgBtns {
   display: flex;
   justify-content: space-between;;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

.writeArticleForm {

   width: 80%;

}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.writeArticleForm {

   width: 80%;

}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.writeArticleForm {

   width: 60%;

}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.writeArticleForm {

   width: 40%;

}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
.writeArticleForm {

   width: 40%;

}
}
